<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unisys.aos.view.admin.mapper.SmmProfileParameterMapper">
    <select id="findParameterByProfileId" resultType="SmmParameter" parameterType="long">
        SELECT sp.*
        FROM smm_profile_parameter spp
                 JOIN smm_parameter sp on spp.parameter_id = sp.id
        WHERE spp.profile_id = #{id};
    </select>
</mapper>
